<header>
  <nav class='flex items-center justify-between bg-orange-500 h-16 text-sm text-slate-50 font-bold p-3'>
    <%= link_to 'トップページ', root_path, class: 'inline-block' %>
    <div class='flex space-x-3 items-center'>
      <%= link_to 'ドライブ履歴', drive_records_path %>
      <%= link_to 'ブックマーク', bookmarks_destinations_path %>
      <%= link_to 'プロフィール', profile_path %>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
    </div>
  </nav>
</header>
