<%= search_form_for q, url: url, class: "flex justify-center mb-5" do |form| %>
  <div class="flex flex-wrap justify-center items-center space-x-4">
    <% case url %>
      <% when drive_records_path %>
        <div class="mb-4">
          <%= form.select :visited_month_eq, @visited_months, include_blank: "月", class: "block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
        <div class="mb-4">
          <%= form.select :destination_area_eq, @areas, include_blank: "エリア", class: "block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md sm:w-3" %>
        </div>
        <div class="mb-4">
          <%= form.select :destination_google_places_api_type_display_name_eq, @types, include_blank: "カテゴリ", class: "block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
      <% when bookmarks_destinations_path %>
        <div class="mb-4">
          <%= form.select :area_eq, @areas, include_blank: "エリア", class: "block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
        <div class="mb-4">
          <%= form.select :google_places_api_type_display_name_eq, @types, include_blank: "カテゴリ", class: "block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
        </div>
      <% end %>
    <div>
      <%= form.submit "検索", class: "py-2 px-4 mb-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500" %>
    </div>
  </div>
<% end %>
