<%= form_with model: @user_selection, url: searches_path, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <%= form.hidden_field :latitude, id: 'hidden_latitude' %>
  <%= form.hidden_field :longitude, id: 'hidden_longitude' %>
  <div class="my-5">
    <div class="form-element">
      <%= form.label :type, t('.select_visited_place') %>
    </div>
    <div class="form-element space-y-2">
      <%= form.collection_check_boxes :type, GooglePlacesApiType.all, :name, :display_name, { include_hidden: false } do |b| %>
        <div class="flex items-center">
          <%= b.check_box(class: "form-checkbox h-5 w-5 text-indigo-600") %>
          <%= b.label(class: "ml-2 text-gray-700") %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="my-5">
    <div class="form-element">
      <%= form.label :feeling, t('.select_feeling') %>
    </div>
    <div class="form-element space-y-2">
      <%= form.collection_radio_buttons :feeling, Feeling.all, :id, :name do |b| %>
        <div class="flex items-center">
          <%= b.radio_button(class: "form-radio h-5 w-5 text-indigo-600") %>
          <%= b.label(class: "ml-2 text-gray-700") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-5">
    <div class="form-element">
      <%= form.label :drive_range, t('.select_drive_range') %>
    </div>
    <div class="form-element space-y-2">
      <%= form.select :drive_range, options_for_select(@user_selection.drive_time_options), { include_blank: '選択してください' }, class: "form-select block w-60 mt-1"  %>
    </div>
  </div>
  
  <div class="form-element my-5">
    <%= form.submit t('.search'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
  const latitude = sessionStorage.getItem('latitude');
  const longitude = sessionStorage.getItem('longitude');

  document.getElementById('hidden_latitude').value = latitude;
  document.getElementById('hidden_longitude').value = longitude;
  });
</script>