<div id="page-top"></div>
<div class="flex justify-center items-center flex-col mx-auto">
  <header class="text-center text-lg ">
    <%= image_tag 'logo_with_appname.png', size: "350x250", class: "mx-auto" %>
    <p class="text-slate-800 text-sm font-bold">「思っていたよりも予定が早く済んじゃった...」</p>
    <p class="text-slate-800 text-sm font-bold">「この辺りで面白いスポットはないかな？」</p>
    <p class="mt-8 mx-3 text-sm text-slate-800">ドライブ中に思いがけないフリータイムができたとき。</p>
    <p class="mt-2 mx-3 text-sm text-slate-800">...次、どこ行く？ が<br>次の行き先を決めるお手伝いをします。</p>
    <p class="mt-8 mx-3 text-sm text-slate-800">どこに行こうか決まらず悩む時間を、<br>楽しいドライブの時間に変えてみませんか？</p>
  </header>

  <div class="text-sm text-center mt-10 mb-1">
    \ さっそく使ってみる /
  </div>
  <%= button_tag '行き先を探す', type: 'button', id: 'toggle-form-button', class: 'bg-indigo-900 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-lg text-white font-bold rounded-lg py-3 px-10 mb-3' %>
  <div class="text-xs text-center">
    ※ 応答がない場合、お手数ですが<br>&emsp;画面を再読み込みしてお試しください。
  </div>

  <div id="search-form" class="transition-all ease-in-out duration-500 max-h-0 overflow-hidden m-3">
    <%= form_with model: @user_selection, url: searches_path, class: "py-3 h-52", data: { turbo: false } do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <%= form.hidden_field :latitude, id: 'hidden_latitude' %>
      <%= form.hidden_field :longitude, id: 'hidden_longitude' %>

      <div class="flex flex-col justify-center items-center space-y-3 mb-5">
        <div class="form-element">
          <%= form.select :feeling, options_from_collection_for_select(Feeling.all, :id, :name), { include_blank: 'いまの気分は？' }, class: "form-select block rounded-md shadow-sm text-slate-600 bg-white border-2 border-indigo-300 hover:border-indigo-500 focus:border-indigo-400 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-72" %>
        </div>
        <!-- 運転範囲の選択 -->
        <div class="form-element">
          <%= form.select :drive_range, options_for_select(@user_selection.drive_time_options), { include_blank: 'どのくらい走る？' }, class: "form-select block rounded-md shadow-sm text-slate-600 bg-white border-2 border-indigo-300 hover:border-indigo-500 focus:border-indigo-400 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-72" %>
        </div>
        <!-- 検索ボタン -->
        <div class="form-element w-">
          <%= form.submit '検索', class: "bg-indigo-900 hover:bg-indigo-600 focus:outline-none text-white font-bold w-32 py-2 px-4 mt-3 rounded-lg" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col space-y-6 w-4/5 text-center">
    <div class="flex items-center my-1">
      <hr class="flex-grow border-t border-2 border-slate-500 w-1/5">
      <span class="text-lg text-center font-bold text-slate-700 w-1/2 px-1 md:w-1/3">使い方</span>
      <hr class="flex-grow border-t border-2 border-slate-500 w-1/5">
    </div>

    <div class="bg-white rounded-lg shadow-xl px-5 py-4 mx-3">
      <h1 class="text-lg font-bold text-slate-700 md:text-xl ">検索する</h1>
      <p class="mt-3 text-sm">いまの気分と走行時間を指定して<br>付近のスポットを検索できます</p>
      <%= image_tag 'how-to-use_search.png', size: "200x200", class: "mt-5 mx-auto border rounded-lg" %>
    </div>

    <div class="bg-white rounded-lg shadow-xl px-5 py-4 mx-3">
      <h1 class="text-lg font-bold text-slate-700 md:text-xl ">行き先を決める</h1>
      <p class="mt-3 text-sm">検索結果から行きたい場所を選び<br>「ここへ行く」をクリックします</p>
      <%= image_tag 'how-to-use_see-result.gif', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
    </div>

    <div class="bg-white rounded-lg shadow-xl px-5 py-4 mx-3">
      <h1 class="text-lg font-bold text-slate-700 md:text-xl ">目的地へ行く</h1>
      <p class="text-sm mt-3">目的地へのドライブには<br>Yahoo!カーナビ / Googleマップの<br>経路案内を利用できます</p>
      <%= image_tag 'how-to-use_yahoo-carnavi.jpg', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
      <%= image_tag 'how-to-use_google-map-navi.jpg', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
    </div>
  </div>

  <div class="flex flex-col space-y-6 w-4/5 text-center mb-6">
    <div class="flex items-center mt-10 mb-3">
      <hr class="flex-grow border-t border-2 border-slate-500 w-1/6 px-1">
      <span class="text-lg text-center font-bold text-slate-700 w-1/2 px-1 md:w-1/3">ログインすると...</span>
      <hr class="flex-grow border-t border-2 border-slate-500 w-1/6 px-1">
    </div>

    <div class="bg-white rounded-lg shadow-xl px-5 py-4 mx-3">
      <h1 class="text-lg font-bold text-slate-700 md:text-xl ">ブックマーク</h1>
      <p class="text-sm mt-3">「今日は行かないけど、気になる... !」<br>という場所をブックマークできます<br>後で訪れる計画を立ててみましょう</p>
      <%= image_tag 'how-to-use_bookmark.gif', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
      <%= image_tag 'how-to-use_bookmark-show.gif', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
    </div>

    <div class="bg-white rounded-lg shadow-xl px-5 py-4 mx-3">
      <h1 class="text-lg font-bold text-slate-700 md:text-xl ">ドライブ履歴</h1>
      <p class="text-sm mt-3">過去のドライブの履歴を見返せます<br>次のドライブの参考にしてみましょう</p>
      <%= image_tag 'how-to-use_drive_record.gif', size: "200x400", class: "mt-5 mx-auto border rounded-lg" %>
    </div>
  </div>

  <div class="flex justify-center flex-row mx-2">
    <%= button_tag '行き先を探す', type: 'button', id: "scrollToTop", class: 'bg-indigo-900 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-sm text-white font-bold rounded-lg w-32 py-3 px-4 mx-2' %>
    <% unless logged_in? %>
      <%= link_to login_path, class: 'bg-emerald-400 hover:bg-emerald-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 text-sm text-white text-center font-bold rounded-lg w-32 py-3 px-4 mx-2' do %>
        ログインして<br>始める
      <% end %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.getElementById('toggle-form-button');
    const searchForm = document.getElementById('search-form');

    toggleButton.addEventListener('click', () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          // 位置情報の取得に成功したら、隠しフィールドに値をセット
          document.getElementById('hidden_latitude').value = position.coords.latitude;
          document.getElementById('hidden_longitude').value = position.coords.longitude;

          // 検索実行後の遷移先である`searches/result`でのマップ表示に現在地の緯度および経度を用いるため、位置情報をセッションストレージに保存
          sessionStorage.setItem('latitude', position.coords.latitude);
          sessionStorage.setItem('longitude', position.coords.longitude);

          // 位置情報の取得後、フォームを表示
          showForm(searchForm);
        }, (error) => {
          console.error('位置情報の取得に失敗しました:', error);
          // 位置情報の取得に失敗した場合の処理（任意）
        });
      } else {
        console.log("Geolocation is not supported by this browser.");
        // Geolocation APIがサポートされていない場合の処理（任意）
      }
    });
  });

  function showForm(formElement) {
    if (formElement.classList.contains('max-h-0')) {
      formElement.classList.remove('max-h-0');
      formElement.classList.add('max-h-screen');
    } else {
      formElement.classList.add('max-h-0');
      formElement.classList.remove('max-h-screen');
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const dropdownFeelingButton = document.getElementById('dropdownFeelingButton');
    const dropdownFeelingContent = document.getElementById('dropdownFeeling');

    // 気分のドロップダウン制御
    dropdownFeelingButton.addEventListener('click', (event) => {
      dropdownFeelingContent.classList.toggle('hidden');
      event.stopPropagation(); // ドキュメントのイベント伝播を停止
    });

    // ドロップダウン要素以外の場所がクリックされたらドロップダウンを閉じる
    document.addEventListener('click', (event) => {
      if (!dropdownFeelingButton.contains(event.target) && !dropdownFeelingContent.contains(event.target)) {
        dropdownFeelingContent.classList.add('hidden');
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    const scrollToTopButton = document.getElementById('scrollToTop');

    scrollToTopButton.addEventListener('click', function(event) {
      event.preventDefault();
      window.scrollTo({
        top: document.getElementById('page-top').offsetTop,
        behavior: 'smooth'
      });
    });
  });
</script>