<div class="flex justify-center items-center flex-col mx-auto">
  <%= form_with model: @user_selection, url: searches_path, class: "py-3 h-52", data: { turbo: false } do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <%= form.hidden_field :latitude, id: 'hidden_latitude' %>
    <%= form.hidden_field :longitude, id: 'hidden_longitude' %>
    <div class="flex flex-col justify-center items-center space-y-3 mb-5">
      <!-- いまの気分の選択 -->
      <div class="form-element">
        <%= form.select :feeling, options_from_collection_for_select(Feeling.all, :id, :name), { include_blank: 'いまの気分は？' }, class: "form-select block rounded-md shadow-sm text-slate-600 bg-white border-2 border-indigo-300 hover:border-indigo-500 focus:border-indigo-400 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-72" %>
      </div>
      <!-- 運転範囲の選択 -->
      <div class="form-element">
        <%= form.select :drive_range, options_for_select(@user_selection.drive_time_options), { include_blank: 'どのくらい走る？' }, class: "form-select block rounded-md shadow-sm text-slate-600 bg-white border-2 border-indigo-300 hover:border-indigo-500 focus:border-indigo-400 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-72" %>
      </div>

      <%= button_tag '現在地を取得', type: 'button', id: 'get-location-button', class: "bg-indigo-900 hover:bg-indigo-600 focus:outline-none text-white font-bold w-32 py-2 px-4 mt-3 rounded-lg" %>

      <!-- 検索ボタン -->
      <div class="form-element w-">
        <%= form.submit '検索', class: "bg-indigo-900 hover:bg-indigo-600 focus:outline-none text-white font-bold w-32 py-2 px-4 mt-3 rounded-lg" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  const getLocationButton = document.getElementById('get-location-button');

  getLocationButton.addEventListener('click', () => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        // 位置情報の取得に成功したら、隠しフィールドに値をセット
        document.getElementById('hidden_latitude').value = position.coords.latitude;
        document.getElementById('hidden_longitude').value = position.coords.longitude;
        // 検索実行後の遷移先である`searches/result`でのマップ表示に現在地の緯度および経度を用いるため、位置情報をセッションストレージに保存
        sessionStorage.setItem('latitude', position.coords.latitude);
        sessionStorage.setItem('longitude', position.coords.longitude);
      }, (error) => {
        console.error('位置情報の取得に失敗しました:', error);
        // 位置情報の取得に失敗した場合の処理（任意）
      });
    } else {
      console.log("Geolocation is not supported by this browser.");
      // Geolocation APIがサポートされていない場合の処理（任意）
    }
  });
</script>