<!DOCTYPE html>
<html>
  <head>
    <title>GoNext</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="bg-gray-100 flex-grow">
      <main class="container mx-auto my-8">
        <%= render 'shared/flash_message' %>
        <%= yield %>
      </main>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
