<!DOCTYPE html>
<html>
  <head>
    <title>GoNext</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <main class="container mx-auto mt-28 px-5 mb-8 flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
